body {
  margin: 0px;
  font-family: roboto;
}
header {
  background-color: #FF6700;
  text-align: center;
}
header img {
  width: 25%;
}
nav {
background-color: #777777;

}
nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;

}
nav ul li {

}
nav ul li a {
  color: #FFF;
  text-decoration: none;
  font-size: 20px;
  display: block;
  padding: 10px;
}

main {
  display: flex;
  padding: 0px 0px 40px 0px;
  grid-gap: 40px;
  flex-wrap: wrap;

}
.inicio img {
width: 100%;
min-width: 300px;
}
main .TextoCelularInicio {
  padding: 20px;
  max-width: 700px;
  flex: 1;

}

main .TextoCelularInicio h1 {
  text-align: center;
  font-size: 60px;
}
main .TextoCelularInicio p {
  text-align: justify;
  font-size: 25px;
}
section {
  display: flex;
  flex-wrap: wrap;
}
section img {
  width: 100%;
}
.contenedor {
  display: flex;
  padding: 40px;
  grid-gap: 40px;
}
.contenedor .texto {
  width: 620px;
}
.contenedor .texto h1 {
  text-align: center;
  font-size: 60px;
}
.contenedor .texto p {
  text-align: justify;
  font-size: 25px;
}
.contendor .final {

}
footer {
  background-color: #FF6700;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    color: white;
    justify-content: space-evenly;
}
footer p {
  padding: 10px;
}
footer img {
  width: 12%;
}
@media screen and (max-width: 600px)
